# This file is to ingest the data (.csv file) to Postgres

### Download data

In [36]:
!wget https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet

--2026-01-23 11:25:33--  https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 18.239.38.83, 18.239.38.181, 18.239.38.147, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|18.239.38.83|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1164775 (1.1M) [binary/octet-stream]
Saving to: 'green_tripdata_2025-11.parquet'

     0K .......... .......... .......... .......... ..........  4%  723K 2s
    50K .......... .......... .......... .......... ..........  8% 3.89M 1s
   100K .......... .......... .......... .......... .......... 13% 7.84M 1s
   150K .......... .......... .......... .......... .......... 17% 2.80M 0s
   200K .......... .......... .......... .......... .......... 21% 11.8M 0s
   250K .......... .......... .......... .......... .......... 26%  623K 1s
   300K .......... .......... .......... .......... .......... 30%  126M 0s
   350K .......... .......... .......... .......... .......... 35% 73.3M 0s
   400K .......... .......... .......... .......... .......... 39% 63.5M 0s
   450K .......... .......... .......... .......... .......... 43% 3.28M 0s
   500K .......... .......... .......... .......... .......... 48% 8.96M 0s
   550K .......... .......... .......... .......... .......... 52% 12.7M 0s
   600K .......... .......... .......... .......... .......... 57% 3.23M 0s
   650K .......... .......... .......... .......... .......... 61% 10.2M 0s
   700K .......... .......... .......... .......... .......... 65% 12.0M 0s
   750K .......... .......... .......... .......... .......... 70%  774K 0s
   800K .......... .......... .......... .......... .......... 74%  118M 0s
   850K .......... .......... .......... .......... .......... 79%  147M 0s
   900K .......... .......... .......... .......... .......... 83% 37.6M 0s
   950K .......... .......... .......... .......... .......... 87%  124M 0s
  1000K .......... .......... .......... .......... .......... 92%  398K 0s
  1050K .......... .......... .......... .......... .......... 96% 7.39M 0s
  1100K .......... .......... .......... .......              100% 70.7M=0.4s

2026-01-23 11:25:34 (2.53 MB/s) - 'green_tripdata_2025-11.parquet' saved [1164775/1164775]

In [37]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2026-01-23 11:25:49--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://release-assets.githubusercontent.com/github-production-release-asset/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?sp=r&sv=2018-11-09&sr=b&spr=https&se=2026-01-23T11%3A23%3A57Z&rscd=attachment%3B+filename%3Dtaxi_zone_lookup.csv&rsct=application%2Foctet-stream&skoid=96c2d410-5711-43a1-aedd-ab1947aa7ab0&sktid=398a6654-997b-47e9-b12b-9515b896b4de&skt=2026-01-23T10%3A23%3A31Z&ske=2026-01-23T11%3A23%3A57Z&sks=b&skv=2018-11-09&sig=YNmVTrTqlsJCjxP5d50R4%2FYXgSZlFUb6aHzRNgl2Pog%3D&jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmVsZWFzZS1hc3NldHMuZ2l0aHVidXNlcmNvbnRlbnQuY29tIiwia2V5Ijoia2V5MSIsImV4cCI6MTc2OTE2NDI0OCwibmJmIjoxNzY5MTYzOTQ4LCJwYXRoIjoicmVsZWFzZWFzc2V0cHJvZHVjdGlvbi5ibG9iLmNvcmUud2luZG93cy5uZXQifQ.og88mhZMtFtEelepNmmd0ZUqONefn3b8QW4AnTPaicU&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2026-01-23 11:25:49--  https://release-assets.githubusercontent.com/github-production-release-asset/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?sp=r&sv=2018-11-09&sr=b&spr=https&se=2026-01-23T11%3A23%3A57Z&rscd=attachment%3B+filename%3Dtaxi_zone_lookup.csv&rsct=application%2Foctet-stream&skoid=96c2d410-5711-43a1-aedd-ab1947aa7ab0&sktid=398a6654-997b-47e9-b12b-9515b896b4de&skt=2026-01-23T10%3A23%3A31Z&ske=2026-01-23T11%3A23%3A57Z&sks=b&skv=2018-11-09&sig=YNmVTrTqlsJCjxP5d50R4%2FYXgSZlFUb6aHzRNgl2Pog%3D&jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmVsZWFzZS1hc3NldHMuZ2l0aHVidXNlcmNvbnRlbnQuY29tIiwia2V5Ijoia2V5MSIsImV4cCI6MTc2OTE2NDI0OCwibmJmIjoxNzY5MTYzOTQ4LCJwYXRoIjoicmVsZWFzZWFzc2V0cHJvZHVjdGlvbi5ibG9iLmNvcmUud2luZG93cy5uZXQifQ.og88mhZMtFtEelepNmmd0ZUqONefn3b8QW4AnTPaicU&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving release-assets.githubusercontent.com (release-assets.githubusercontent.com)... 185.199.109.133, 185.199.111.133, 185.199.108.133, ...
Connecting to release-assets.githubusercontent.com (release-assets.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: 'taxi_zone_lookup.csv'

     0K .......... ..                                         100% 21.4M=0.001s

2026-01-23 11:25:49 (21.4 MB/s) - 'taxi_zone_lookup.csv' saved [12322/12322]

### Ingest `green_tripdata_2025-11.parquet` file

In [38]:
import pandas as pd
import os

In [39]:
# create an empty folder to contain the data
os.makedirs(f"{os.getcwd()}/green_trip_data", exist_ok=True)

In [40]:
trips = pd.read_parquet("green_tripdata_2025-11.parquet")

In [41]:
trips

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.20,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.00
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.20,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.00
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.50,...,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.00
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.70,...,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.00
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.40,...,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46907,2,2025-11-30 19:58:34,2025-11-30 20:14:28,None,NaN,59,51,NaN,8.50,33.22,...,0.5,0.00,0.0,NaN,1.0,34.72,NaN,NaN,NaN,0.00
46908,2,2025-11-30 19:34:00,2025-11-30 19:46:00,None,NaN,74,151,NaN,1.73,13.86,...,0.5,0.77,0.0,NaN,1.0,16.13,NaN,NaN,NaN,0.00
46909,2,2025-11-30 21:46:46,2025-11-30 22:17:55,None,NaN,33,163,NaN,7.52,38.42,...,0.5,1.00,0.0,NaN,1.0,44.42,NaN,NaN,NaN,0.75
46910,2,2025-11-30 21:00:00,2025-11-30 21:15:00,None,NaN,16,95,NaN,5.61,24.67,...,0.5,0.00,0.0,NaN,1.0,26.17,NaN,NaN,NaN,0.00
46911,2,2025-11-30 23:26:00,2025-11-30 23:42:00,None,NaN,65,87,NaN,2.91,14.46,...,0.5,3.89,0.0,NaN,1.0,23.35,NaN,NaN,NaN,0.75

In [42]:
print(pd.io.sql.get_schema(trips, name="green_trip_2025-11", con=None))

CREATE TABLE "green_trip_2025-11" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TIMESTAMP,
  "lpep_dropoff_datetime" TIMESTAMP,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" REAL,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" REAL,
  "trip_type" REAL,
  "congestion_surcharge" REAL,
  "cbd_congestion_fee" REAL
)

In [43]:
from sqlalchemy import create_engine

In [44]:
# create database engine, saved for later connection 

# create_engine('postgresql+psycopg2://user:password@hostname/database_name')
engine = create_engine('postgresql://root:root@localhost:5434/green_trip')

In [45]:
engine.connect()

In [46]:
# check again the schema, now with the engine
print(pd.io.sql.get_schema(trips, name="green_trip_2025-11", con=engine))

CREATE TABLE "green_trip_2025-11" (
	"VendorID" INTEGER,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" INTEGER,
	"DOLocationID" INTEGER,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53),
	cbd_congestion_fee FLOAT(53)
)

In [47]:
df = pd.read_parquet("green_tripdata_2025-11.parquet")
df.to_sql(
    name="green_trip_2025-11",
    con=engine,
    if_exists="append",
    index=False
)

912

### Ingest `taxi_zone_lookup.csv` file

In [48]:
zones = pd.read_csv("taxi_zone_lookup.csv")

In [49]:
zones

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [50]:
print(pd.io.sql.get_schema(zones, name="zone_data"))

CREATE TABLE "zone_data" (
"LocationID" INTEGER,
  "Borough" TEXT,
  "Zone" TEXT,
  "service_zone" TEXT
)

In [30]:
from sqlalchemy import create_engine

In [51]:
# create_engine('postgresql+psycopg2://user:password@hostname/database_name')
engine = create_engine('postgresql://root:root@localhost:5434/green_trip')

In [52]:
engine.connect()

In [53]:
print(pd.io.sql.get_schema(zones, name="zone_data", con=engine))

CREATE TABLE zone_data (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [54]:
from time import time

In [55]:
df_iter = pd.read_csv("taxi_zone_lookup.csv", iterator=True)
i = 0

for chunk in df_iter:
  t_start = time()
  
  chunk.to_sql(name='zone_data', con=engine, if_exists='append')

  t_end = time()


  print(f"inserted chunk {i}: took {t_end - t_start:.2f} seconds")
  i += 1

inserted chunk 0: took 0.13 seconds